.DS_Store

# Local .terraform dir
**/.terraform/*

# State files
*.tfstate*

# Variable files
*.tfvars*
*.vars

# Plan files
*planfile

# Crash log files
crash.log

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json
